@using Microsoft.AspNetCore.Identity
@inject NavigationManager NM
<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <AuthorizeView>
        <NotAuthorized>
            <MudNavLink Href="/register" Match="NavLinkMatch.Prefix">Register</MudNavLink>
            <MudNavLink Href="/Identity/Account/Login" Match="NavLinkMatch.Prefix">Login</MudNavLink>
        </NotAuthorized>
        <Authorized>
            <MudNavLink Href="/profile" Match="NavLinkMatch.Prefix">Profile</MudNavLink>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit">
                    Logout
                </button>
            </form>
            
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="User">
        <Authorized>
            <MudNavGroup Title="USER STUFF" Expanded="true">
                <MudNavLink Href="/userArticles"   Match="NavLinkMatch.Prefix">Shop</MudNavLink>
                <MudNavLink Href="/basket" Icon="@Icons.Filled.ShoppingCart" Match="NavLinkMatch.Prefix">Basket</MudNavLink>
            </MudNavGroup>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <MudNavGroup Title="ADMIN STUFF" Expanded="true">
                <MudNavLink Href="/users"  Match="NavLinkMatch.Prefix">Users</MudNavLink>
                <MudNavLink Href="/adminArticles"  Match="NavLinkMatch.Prefix">Articles</MudNavLink>
            </MudNavGroup>
        </Authorized>
    </AuthorizeView>
    <MudNavLink Href="/about"  Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>