@page "/register"
@inject Viewmodels.IUserMan UserVM
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm>
                    <MudTextField T="string" Label="email" @bind-Value="UserVM.User.Email"/>
                    <MudTextField T="string" Label="username" @bind-Value="UserVM.User.UserName"/>
                    <MudTextField T="string" Label="Password" @bind-Value="UserVM.User.Password" HelperText="Choose a strong password"/>
                    <div class="d-flex">
                        <MudRadioGroup T="bool" @bind-SelectedOption=UserVM.User.IsAdmin>
                            <MudRadio Option="false" >User</MudRadio>
                            <MudRadio Option="true">Admin</MudRadio>
                        </MudRadioGroup>
                    </div>
                    <div class="d-flex align-center justify-space-between mt-6">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
                            @onclick="async()=>await UserVM.RegisterAsync()">Register</MudButton>
                    </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>
@code 
{
    
}